@import url("variables.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    background: #11101d;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: #11101d;
    z-index: 100;
    transition: all .5s ease;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo {
    height: 60px;
    display: flex;
    width: 100%;
    align-items: center;
}

.sidebar .logo i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo .logo-name {
    font-size: 22px;
    font-family: "Edu AU VIC WA NT Hand";
    color: #fff;
    font-weight: 300;
    transition: all .3s ease;
    transition-delay: .1s;
}

.sidebar.close .logo .logo-name {
    opacity: 0;
    pointer-events: none;

}

.sidebar .nav-list {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-list {
    overflow: visible;
}

.sidebar .nav-list::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-list li {
    position: relative;
    list-style: none;
    transition: all .4s ease;
}

.sidebar .nav-list li:hover {
    background-color: #1d1b31;
}

.sidebar .nav-list li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-list li .icon-link {
    display: block;
}

.sidebar .nav-list li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}

.sidebar.close .nav-list li i.arrow {
    display: none;
}

.sidebar .nav-list li.show i.arrow {
    transform: rotate(-180deg);
}

.sidebar .nav-list li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-list li a .link-name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    transition: all .4s ease;
}

.sidebar.close .nav-list li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-list li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
    transition: all .3s ease;
}

.sidebar .nav-list li.show .sub-menu {
    display: block;
}

.sidebar.close .nav-list li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-list li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all .4s ease;
}

.sidebar .nav-list li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: .6;
    transition: all .3s ease;
}

.sidebar .nav-list li .sub-menu a:hover {
    opacity: 1;
}

.sidebar .nav-list li .sub-menu .link-name {
    display: none;
}

.sidebar.close .nav-list li .sub-menu .link-name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-list li .sub-menu.blank {
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-list li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.home-section {
    position: relative;
    left: 260px;
    width: fit-content;
}

.sidebar.close ~ .home-section {
    left: 78px;
    width: fit-content;
}

.home-section .home-content {
    display: flex;
    height: 60px;
    align-items: center;
}

.home-section .home-content i,
.home-section .home-content .text {
    color: #fff;
    font-size: 35px;
}

.home-section .home-content i {
    margin: 0 15px;
    cursor: pointer;
}

.bars h1 i {
    position: absolute;
    left: 90px;
    top: 10px;
}